# ── FIREBASE ──────────────────────────────────────
# Récupère ces valeurs depuis Firebase Console > Paramètres du projet > Tes apps
VITE_FIREBASE_API_KEY=AIzaSyAoTkzaiZxFxYxDr6dTB_CyvaBz1xA_rzQ
VITE_FIREBASE_AUTH_DOMAIN=blinddrop-b5fd9.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://blinddrop-b5fd9-default-rtdb.europe-west1.firebasedatabase.app
VITE_FIREBASE_PROJECT_ID=blinddrop-b5fd9
VITE_FIREBASE_APP_ID=1:1026942784474:web:959c77c0803d01634c66e3

# ── SPOTIFY (optionnel) ──────────────────────────
VITE_SPOTIFY_CLIENT_ID=
VITE_SPOTIFY_REDIRECT_URI=http://localhost:5173/callback
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=